.header {
	width: 400px;
	height: 65px;
	background-color: #7b537e;
	border-radius: 3px 3px 0 0;
	color: #fff;
	font-weight: bold;
	p {
		padding: 22px 0px 0px 25px;
	}
}

.body-input {
	width: 400px;
	height: 240px;
	background-color: #fff;
}

.button-style button {
	background-color: #7b537e;
	border-radius: 10px;
	color: #fff;
	padding: 15px 30px;
	text-align: center;
	font-weight: bold;
	margin: 5px 0px 21px 20px;
}

input {
  width: 357px;
  box-sizing: border-box;
  border: 2px solid #f0eef0;
  font-weight: bold;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f0eef0;
  padding: 12px 20px 12px 15px;
  transition: width 0.4s ease-in-out;
}

input:first-child {
	margin: 0px 0px 21px 20px;
}

input:last-child {
	margin: 0px 0px 16px 20px;
}

.error-style {
	width: 100%;
	height: 140px;
	background-color: #ff12124a;
	color: red;
	padding: 0px 111px;
    margin-left: 20px;
    border-radius: 4px
}
 
.admin {
	position: relative;
	top: 14%;
	left: 85%;
	color: #d1d1d1;
}

.lock {
	position: relative;
	top: 41%;
	left: 82%;
	color: #d1d1d1;
}      

